nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    flex-flow: row wrap;

}

nav li {
width: 12rem;
background-color: orange;
text-align: center;
margin-bottom: .5rem;
border-radius: 30px;
}


nav a{
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: .5rem;
}
nav a:hover{
    background-color: white;
    color: red;
}

.nav2 li {
    width: 8rem;
    background-color: red;
    border: 3px solid yellow;
    text-align: center;
    margin-bottom: 1rem;
    display: inline-block;
    
    }