div { 
    border: 5px solid blue;/* Kenarlik */
    border-radius: 1rem; /* Yuvarlatılmış köşeler oluşturur. Hap veya daire oluşturmak için büyük bir yarıçap belirtin. */
    margin-bottom: 2rem;/* Marj, sınırın dışındaki alandır. Marj değerleri pozitif veya negatif olabilir */
    background-color: lightblue;
    padding-left: 1rem;/* Dolgu, içerik ile kenarlık arasındaki mesafedir. Dolgu değerleri her zaman pozitif olmalıdır */
    padding-right: 1rem;
}
/* Width: Belirli bir elemanın genişliği. Genel olarak, yerine %, em, remgibi göreli birimleri kullanın px. */
/* height
Belirli bir elemanın yüksekliği. Genel olarak içerikte yükseklik kullanımından kaçınılmalıdır, böylece yazı tipi boyutu veya içerik türündeki değişikliklerle gerektiği gibi genişletilebilir. */
.box1 {
    border-color: orange;
    background-color: #ffcc00;
    width: 50%; 
    height: 200px;
}
.box2{
    width: 10rem;
}


.box2 p { /* block elementler */
    border: 2px solid green;
    margin: 0;
}

h1 {
    border: 2px solid green;
    margin: 0;
}
/* inline elementler */
a,
strong,
em {
    border: 2px solid blue;
}

.box3{
    background-image: url(http://placekitten.com/200/300);
    width: 200px;
    height: 300px;
    background-position: 50%  50%;
    background-size: cover;
}