body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffc;
}
img{
    border: 10px solid green;
}
h1{
    border: 5px dotted red;
    background-color: black;
    color: white;
    text-align: center;
}
blockquote{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
    background-image: url(http://placekitten.com/800/300);
    color: white;
    background-position: 50% 50%;
    border-radius: 50px;
}
cite{
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #fff;
    color: black;
}

.bigbold{
    font-size: 1.3rem;
    font-weight: bold;
}
h2, h3{
    color: chocolate;
    text-align: center;
}
#myid{
    color: purple;
    font-weight: bold;
}

p{
 text-align: center;
}
p:hover{
    background-color: #000;
    color: white;
}
ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
ul li{
border: 1px solid red;
padding: 10px;
background-color: #fff;
}



ul a:link{
    font-weight: bold;
    text-decoration: none;
    color: lightblue;
    font-size: 2rem;
}
a:visited{
    color: green;
    font-weight: normal;

}
a:hover{
    color: orange;
    text-decoration: underline;
    background-color: black  ;
}
a.github:hover{
    color: yellow;
}