body {
    color: white;
    font-family: arial, helvetica, sans-serif;
   
}
/* 	em body font-size değerine çalışır. Eğer kapsayıcı öğesinin bir font-size değeri var ise onu baz alacaktır. body etiketinde font-size tanımlı değil ise tarayıcılar otomatik olarak bu değeri 16px olarak kabul eder ve 1em = 16px olur. h1{font-size:2em} = 32px */
h1 {
    background-color: green;
    padding: 1rem;
    margin: 0;
    border: 0.1rem solid orange;
    padding: 1em;
}
/* rem birimi sadece html öğesinin font-size ölçüsünü baz almaktadır. html{font-size:16px;} ise 1rem = 16px olacaktır. */
p {
    background-color: blue;
    padding: 1rem;
}